

/* Tiny */
@media (max-width: 230px) {
    .gallery-top-bar {
        display: none;
    }
    body {
        width: fit-content;
    }
}

@media (min-width: 230px) {
    .gallery-top-bar {
        display: flex;
    }
    body {
        width: auto;
    }
}

@media (max-width: 450px) {

    .gallery-top-bar {
        padding-block: 0px;
        padding-bottom: 20px;
    }

    i {
        display: none;
    }
    .gallery-grid-container .first-img {


        /*padding-block: 0.5em;*/
        flex-direction: row;
        column-gap: 0.5em;
        justify-items: center;
        align-items: center;
        padding-inline: 1.0em;
        text-align: left;

    }
    .gallery-grid-container .first-img .fa{
        font-size: 1.5em;
        color: #bdbdbd;
        /*margin-bottom: 0.2em;*/
    }
    /*button {*/
    /*    font-size: 0.2em;*/
    /*}*/

    .gallery-grid-container .first-img >* {
        display: contents;
    }

    .controls {
        gap: 0em;
    }

    .search-bar-input {
        min-width: auto;
    }

}


/* Small */
@media (max-width: 640px) {

    .context-toolbar{
        border-radius: 0px;
        border-right: 0px;
        border-left: 0px;
    }

    .main-layout {
        margin-top: 0px;
    }
    .controls {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        padding-block: 10px;
        /*background-color: transparent;*/
        box-shadow: none;
        margin-bottom: 20px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }


    .logo {
        font-size: 1.5rem;
    }
    .side-bar {
        display: none;
    }

    .main-nav li:nth-of-type(1) {
        display: none;
    }

    .main-nav li:nth-of-type(2) {
        display: none;
    }

    .main-nav li:nth-of-type(3) {
        display: none;
    }

    .main-nav li:nth-of-type(4) {
        display: none;
    }

    /*.main-nav .hamburger {*/
    /*    display: block;*/
    /*}*/

    .gallery-grid-container .first-img {
        border: none;
        /*width: 95%;*/
        /*height: 95%;*/
    }


    .main-header {
        box-shadow: none;

    }

    .clear,
    .back-btn,
    .add-text,
    .brush-size,
    .add-sticker,
    .brush-shape {
        gap: 0.6em;
        font-size: 0.8em;
    }

    .main-layout {
        width: 100%;
        display: flex;
        /*margin-top: 20px;*/
        /*height: calc(100vh - 60px);*/
    }

    .context-toolbar {
        max-width: 100vw;
        /*left: 0;*/
        /*bottom: 0;*/
    }

}
@media (min-width: 640px) {
    .main-nav li:nth-of-type(1) {
        display: block;
    }

    .main-nav li:nth-of-type(2) {
        display: block;
    }

    .main-nav li:nth-of-type(3) {
        display: block;
    }

    .main-nav li:nth-of-type(4) {
        display: block;
    }

    /*.main-nav .hamburger {*/
    /*    display: none;*/
    /*}*/

    .search-bar-input {
        min-width: 400px;
    }
    .search-bar input:focus{
        min-width: 600px;
        padding: 0em 1em 0em 3em;
    }

    .search-bar input {
        padding: 0em 1em 0em 3.5em;
    }

    .page-gallery .gallery-grid-container {
        gap: 10px;
        padding: 20px;
    }


    .nav li {
        list-style-type: none;
        padding: 0.4em 0.9em;
    }

    /*.main-layout {*/
    /*    width: 100%;*/
    /*    display: flex;*/
    /*    align-items: start;*/
    /*    margin-top: 60px;*/
    /*    !*height: calc(100vh - 60px);*!*/
    /*}*/

    .main-layout {
        width: 100%;
        display: flex;
        align-items: start;
        margin-top: 60px;
        /*height: calc(100vh - 60px);*/
    }

    .canvas-container {
        display: flex;
        /*max-width: 70vh;*/
        /*max-height: 600px;*/
        align-items: center;
        justify-content: center;
    }

    .controls {
        max-width: 70vh;
    }


}

/* Medium */
@media (max-width: 900px) {
    .btn-add {
        display: flex;
        justify-content: center;
    }
    .btn-add .button-icon {
        display: none;
    }

    .page-gallery {
        padding-top: 0;

    }

    .work-area {
        margin-top: 0;
    }

    .gallery-grid-container img {
        aspect-ratio: auto;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .gallery-grid-container .first-img {
        grid-column: span 1;
        grid-row: span 1;

        min-height: 60px;
        padding-block: 0.5em;
        margin: 0.5em;

    }

    .gallery-grid-container .first-img .fa{
        /*font-size: 1em;*/
        color: #bdbdbd;
        margin-bottom: 0.2em;
    }


}
@media (min-width: 900px) {

    .main-layout {
        width: 100%;
        display: flex;
        align-items: start;
        margin-top: 60px;
        /*height: calc(100vh - 60px);*/
    }

    .canvas-container {
        display: flex;
        /*max-width: 70vh;*/
        /*max-height: 600px;*/
        align-items: center;
        justify-content: center;
    }



}



/* Font Fix */
@media (max-width: 1130px) {
    .btn-add {
        font-size: 0.8rem;
    }
}

/* Large */
@media (max-width: 1130px) {
    .btn-add {
        font-size: 0.85em;
    }
}
@media (min-width: 1130px) {


    .controls {

        max-width: auto;
        width: fit-content;
        padding-inline: 2em;
    }

    .side-bar {
        display: grid;
        height: 100vh;
        overflow: hidden;
        margin-top: -60px;
        /*height: 100%;*/
    }

    .bottom-container {
        max-height: 65vh;
    }

}


